.container{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows:150px 1fr auto ;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    border: 5px solid black;
    color: whitesmoke;
}

.header{
    background: darkblue;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.menu{
    background: darkgreen;
    grid-column:1/2;
    grid-row:1/3;
}
.content{
    background: darkorange;
    grid-area: 2/2/3/4;
}
.footer{
    background: rgb(90, 90, 90);
    grid-column: 1 / span 3;
    grid-row: 3/ -1;
}